.event-title {
    flex: 0.5;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
.event-image {
    align-content: center;
    margin:15%;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 70%;
    margin-top: 10px;
}